body{
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
}

.fas{
	color: #999999;
}

#navbar{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	box-shadow: 0px 2px 2px -2px #999999;
	width: 100%;
	background-color: white;
	position: fixed;
}

#logo{
	font-size: 1.2em;
	padding: 2vw;
	display: inline;
}

.fat{
	font-weight: 700;
}

.navboy{
	padding: 2vw;
}

@media (max-width: 630px){
	.nonmobile{
		display: none;
	}

	#bottombutton{
		background-color: #0872b4;
		color: white;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
		padding: 10px 15px;
		line-height: 60px;
		font-size: 1.1em;
	}

	#bottombutton:hover{
		background-color: #07639c;
		transition-duration: .5s;
	}
	#bottomcontent{
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#bigbottom{
		display: none;
	}
}	

@media (max-width: 800px){
	#profpic{
		width: 100vw;
		height: 70vw;
		background-size: cover;
		background-position: center 10%;
	}
}

@media (min-width: 630px){
	.mobile{
		display: none;
	}
	#bottombutton{
		display: none;
	}
	#bottomcontent{
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 60px;
		display: flex;
		align-items: center;
	}
	#bottombutton2{
		background-color: #0872b4;
		font-size: 1.1em;
		color: white;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
		padding: 10px 15px;
		display: inline-block;
	}

	#bottombutton:hover{
		background-color: #07639c;
		transition-duration: .5s;
	}

	#bottomtext{
		margin-left: 20px;
		margin-right: 20px;
		font-size: 1.1em;
	}
}

@media (min-width: 800px){
	#profpic{
		width: 67vw;
		height: 100vh;
		background-size: cover;
		background-position: center 40%;
	}
}

#content-container{
}

#profpic{
	background-image: url('zachary-goldberg-graduation.jpg');
	position: fixed;
	top: 25px;
	z-index: -1;
}

#text{
}

#bottombar{
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 60px;
	background-color: white;
	opacity: .85;
	box-shadow: 0px -2px 2px -2px #999999;
}